{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css'}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">

    <title>front page</title>
    
  </head>
  <body style="background-color: rgba(136, 135, 134, 0.365); padding-top: 10px;">
    

    

    
    <div class="container">
      {% for i in blogdata %}
          {% if forloop.counter0|divisibleby:3 %}
              <div class="row">
          {% endif %}
          <div class="col-md-4">
              <div class="blog-post" style="border: solid 1px black; border-radius: 50px;padding: 20px;width: 100%;margin-left: -40px;margin-right: 10%;">
                  <div class="background-div">
                      <h6 align="center">TITLE : {{ i.title }}</h6>
                      <h6 align="center">DESCRIPTION : {{ i.description }}</h6>
                  </div>
                  <div style="text-align: center;">
                      <img style="display: inline-block; margin: 0 auto;" width="80%" height="150px" src="{{ i.image.url }}">
                  </div>
                  <div style="text-align: center;">
                      <video style="display: inline-block; margin: 0 auto;" width="80%" height="150px" controls>
                          <source src="{{ i.video.url }}" type="video/mp4">
                      </video>
                  </div>
                  <div class="background-div1">
                    <h6 align="center"><i>AUTHOR : {{ i.author }}</i></h6>
                  <b><h6 align="center">CREATED_AT : {{ i.created_at }}</h6></b>
                  <div style="display: flex;justify-content: space-between;margin-left: 20%;margin-right: 30%;">
                    <h6 align="center">
                      <a align="center" href="{% url 'delete_blog' blog_id=i.id %}">Delete</a></h6><h6>
                      <a href="{% url 'edit_blog' blog_id=i.id %}">Edit</a>
                  </h6>
                  </div>
                  
                  </div>
                  
              </div><br>
          </div>
          {% if forloop.counter|divisibleby:3 or forloop.last %}
              </div>
          {% endif %}
      {% endfor %}
  </div>
  

  <style>
    .background-div {
    background-color: blanchedalmond;margin-right: -20px;margin-left: -20px;padding-top:35px ;
    padding-bottom: 5px;
    margin-top: -20px;border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 2px;
}

.background-div1 {
    background-color: rgb(240, 231, 230);margin-right: -20px;margin-left: -20px;
    padding-bottom: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-bottom: -20px;
}

  </style>
  
  


  <a href="{% url 'web2db' %}" style="position: fixed; bottom: 20px; right: 20px; background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">ADD POST</a>

   



    


<!-- frontpage.html -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="{% static 'js/bootstrap.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>